# Plantilla para configurar el ambiente. Copia este archivo como .env y completa.
SECRET_KEY=genera_una_con_django_utils
DEBUG=True

# En desarrollo apunta a PostgreSQL local; en producción apuntará a Neon.
DATABASE_URL=postgres://USUARIO:CONTRASENA@localhost:5432/hydroemcol